@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');

:root {
    --fonte-destaque: 'Mitr', sans-serif;
}

.title {
    font-family: var(--fonte-destaque);
    margin-left: 20px;
}
input {
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;    
}
#form-cadastro {
    
}
.lineInput {
    margin: 20px;
}
.container-usuario {
    display: flex;
    justify-content: flex-start;
}
label {
    margin-right: 20px;
    font-family: var(--fonte-destaque);
}
.container-veiculo {
    display: flex;
    justify-content: flex-start;    
}
#btnSalvar {
    float: right;
    margin: 20px;
}